/*

Based on:

Blueby
======

Based on the coding samples at ruby-lang.org

By Justin Hileman - http://justinhileman.com

 * Sometimes Coda doesn't get the text and background colors right on import.
   If that happens, use #213449 as your background and #8aa6c1 for text.

http://justinhileman.info/coda-colors/

Adjusted for SubEthaEdit 4.0

*/

string.symbol.upper {
  color:#428bdd;
  font-style:italic;
}

string.symbol.lower {
  color:#eddd3d;
  font-weight:bold;
}
